.login-wrapper {
  width: 90%;
  margin-right: auto;
  margin-left: auto;
}

.login-wrapper h4 {
  text-align: center;
  margin-bottom: 1rem;
}

.login-wrapper .btn {
  width: 90%;
  padding: 1rem 2rem;
  margin-right: auto;
  margin-left: auto;
  margin-bottom: 1rem;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 0.25rem;
  -webkit-border-radius: 0.25rem;
  -moz-border-radius: 0.25rem;
  -ms-border-radius: 0.25rem;
  -o-border-radius: 0.25rem;
}

.login-wrapper .btn i.fa {
  font-size: large;
}

.login-wrapper .social {
  display: flex;
  align-items: center;
  column-gap: 0.5rem;
}

.login-wrapper .email {
  background-color: var(--brown);
  color: white;
}

.login-wrapper .information {
  margin-top: 2rem;
  font-size: small;
  text-align: center;
}

.login-wrapper .information p:first-child {
  margin-bottom: 0.5rem;
}

@media screen and (min-width: 425px) {
  .login-wrapper {
    width: 70%;
  }
}

@media screen and (min-width: 768px) {
  .login-wrapper {
    width: 60%;
  }

  .login-wrapper .btn {
    width: 60%;
  }
}
