body #root {
  min-height: 100dvh;
}

.app-container {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
}

.app-header {
  grid-column: 1 / span 2;
}

.app-form {
  grid-column: 1 / span 2;
}

.app-banner {
  display: none;
  margin-top: 1rem;
  margin-left: auto;
  margin-right: auto;
  text-align: justify;
  width: 80%;
}

@media screen and (min-width: 768px) {
  .app-banner {
    display: block;
  }

  .app-form {
    grid-column: 1 / span 1;
  }
}
