:root {
  --primary: #f4f1ea;
  --secondary: #ffb700;
  --blue: #006ce4;
  --gray-1: #e5e4e2;
  --gray-2: #cccccc;
  --red: #d90007;
}

*,
*::before,
*::after {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

.container {
  padding: 0.75rem;
}

input[type="submit"] {
  cursor: pointer;
  border: none;
  outline: none;
}

@media screen and (min-width: 425px) {
  .container {
    padding: 1rem;
  }
}

@media screen and (min-width: 768px) {
  .container {
    padding: 1.5rem;
  }
}
