@import url("https://fonts.googleapis.com/css2?family=Pacifico&display=swap");
@import "tailwindcss";

@theme {
  --font-pacifico: Pacifico, sans-serif;
  /* --color-black: #000000;
  --color-white: #ffffff;
  --color-red-400: #ff0000; */
}
