:root {
  --primary: #003b95;
  --secondary: #ffb700;
  --blue: #006ce4;
  --gray-1: #e5e4e2;
  --gray-2: #cccccc;
  --red: #d90007;
}

*,
*::before,
*::after {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}
