@font-face {
  font-family: "IranYekan";
  src: local("IranYekan"), url("/fonts/IranYekan.woff2");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: "Inter";
  src: local("Inter"), url("/fonts/Inter.woff2");
  font-weight: normal;
  font-style: normal;
}

*,
*::before,
*::after {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

body {
  font-family: IranYekan;
}

.container {
  padding: 2rem 6rem;
}

button {
  border: none;
  cursor: pointer;
  font-family: IranYekan;
}

@media screen and (max-width: 425px) {
  .container {
    padding: 1rem 2rem;
  }
}
