footer {
  background-color: var(--secondary);
}

footer .catalogue .container {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: flex-start;
  gap: 2rem;
}

footer .footer-title {
  color: var(--white);
  margin-bottom: 0.75rem;
}

footer section ul li {
  margin-bottom: 0.25rem;
}

footer li a {
  color: var(--gray-600);
}

footer #language {
  padding: 0.25rem 0.5rem;
  font-family: Inter;
}

footer .links .container {
  background-color: var(--secondary-600);
  display: flex;
  align-items: center;
  justify-content: space-between;
}

footer .links .container ul {
  display: flex;
  gap: 1rem;
}

footer .copyright {
  display: flex;
  gap: 0.5rem;
  color: var(--white);
}

@media screen and (max-width: 425px) {
  footer .catalogue .container {
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }

  footer .links .container {
    flex-direction: column;
    align-items: center;
  }

  footer .links .container ul {
    flex-direction: column;
  }

  .container ul li,
  .container .footer-title {
    text-align: center;
  }
}
