header {
  background-color: var(--gray-100);
  color: var(--primary);
  position: sticky;
  top: 0;
}

header .container {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

header nav {
  display: flex;
  align-items: center;
  column-gap: 2.5rem;
}

header nav ul {
  display: flex;
  align-items: center;
  gap: 2rem;
}

header button {
  background-color: var(--yellow);
  border-radius: 0.25rem;
  -webkit-border-radius: 0.25rem;
  -moz-border-radius: 0.25rem;
  -ms-border-radius: 0.25rem;
  -o-border-radius: 0.25rem;
  padding: 0.75rem 2rem;
  font-weight: 900;
}

header .img-wrapper {
  width: 2.5rem;
  height: 2.5rem;
}

header .img-wrapper img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  border-radius: 100%;
  -webkit-border-radius: 100%;
  -moz-border-radius: 100%;
  -ms-border-radius: 100%;
  -o-border-radius: 100%;
}

.small-device {
  display: none;
}

a {
  color: var(--primary);
}

.menu-title {
  font-size: large;
  font-weight: bold;
}

header .usersname {
  font-size: small;
  font-weight: bold;
}

@media screen and (max-width: 1024px) {
  .small-device {
    display: block;
  }

  .large-device {
    display: none;
  }

  header .menu-section {
    display: flex;
    align-items: center;
    gap: 0.5rem;
    position: relative;
  }

  header .sm-profile-wrapper {
    display: flex;
    align-items: center;
    justify-content: space-between;
    border-top: 1px solid var(--primary);
    border-bottom: 1px solid var(--primary);
  }

  header .profile-info {
    display: flex;
    align-items: center;
    gap: 1rem;
  }

  header .dropdown {
    width: 40vw;
    background-color: var(--white);
    position: absolute;
    top: 2.5rem;
    right: 0;
    padding: 0.5rem 1rem;
    border-bottom-right-radius: 0.5rem;
    border-bottom-left-radius: 0.5rem;
    box-shadow: 0.1rem 0.1rem 0.2rem var(--primary);
  }

  header .dropdown ul,
  header .dropdown section {
    padding-top: 0.75rem;
    padding-bottom: 0.75rem;
  }

  header .dropdown ul li {
    margin-bottom: 0.5rem;
  }

  header button {
    width: 100%;
    font-weight: 600;
    padding: 0.5rem;
  }
}

@media screen and (max-width: 425px) {
  header .dropdown {
    width: 60vw;
  }
}
