.main-container-products {
  display: grid;
  grid-template-columns: 1fr;
  gap: 2rem;
}

.main-container-table {
  margin-top: 2rem;
}

.main-container-table table {
  width: 100%;
}

.main-container-table thead th {
  background-color: black;
  color: white;
  font-size: x-small;
  padding: 0.25rem;
}


@media screen and (min-width: 425px) {
  .main-container-products {
    grid-template-columns: repeat(2, 1fr);
    gap: 1.5rem;
  }

  .main-container-table thead th {
    font-size: small;
  }
}

@media screen and (min-width: 768px) {
  .main-container-products {
    grid-template-columns: repeat(3, 1fr);
    gap: 2rem;
  }

  .main-container-table thead th {
    font-size: medium;
  }
}

@media screen and (min-width: 1024px) {
  .main-container-products {
    grid-template-columns: repeat(4, 1fr);
  }

  .main-container-table table {
    width: 60%;
  }
}
