.identity-layout-wrapper {
  padding: 0.75rem 1rem;
  border: 1px solid #c0c0c0;
  box-shadow: 0.25rem 0.2rem 0.01rem #c0c0c0;
  border-radius: 0.25rem;
  -webkit-border-radius: 0.25rem;
  -moz-border-radius: 0.25rem;
  -ms-border-radius: 0.25rem;
  -o-border-radius: 0.25rem;
}

.identity-layout-wrapper .logo {
  width: 5rem;
  height: 4rem;
  display: block;
  margin-left: auto;
  margin-right: auto;
}

.identity-layout-wrapper label {
  margin-bottom: 0.25rem;
  font-size: small;
}

.identity-layout-wrapper input {
  display: block;
  width: 100%;
  padding: 0.25rem 0.5rem;
  border-radius: 0.25rem;
  font-family: IranYekan;
  -webkit-border-radius: 0.25rem;
  -moz-border-radius: 0.25rem;
  -ms-border-radius: 0.25rem;
  -o-border-radius: 0.25rem;
}

.invalid {
  border: 1px solid red;
}

.error-message {
  font-size: x-small;
  color: red;
}

.alert {
  position: absolute;
  bottom: 1rem;
  left: 1rem;
  padding: 0.25rem 1rem;
  font-size: small;
  border-radius: 0.25rem;
  -webkit-border-radius: 0.25rem;
  -moz-border-radius: 0.25rem;
  -ms-border-radius: 0.25rem;
  -o-border-radius: 0.25rem;
  margin-bottom: 0.5rem;
}

.alert-success {
  border: 1px solid green;
  color: green;
}

.alert-error {
  border: 1px solid red;
  color: red;
}
