.header-wrapper {
  background-color: lightgrey;
  position: sticky;
  top: 0;
}

.header-wrapper .container div {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
