.header-wrapper {
  background-color: #c0c0c0;
  position: sticky;
  top: 0;
}

.header-wrapper .container div {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.header-wrapper .icon {
  position: relative;
}

.header-wrapper .icon .count {
  position: absolute;
  right: 0;
  top: -25%;
  color: white;
  background-color: red;
  width: 1rem;
  height: 1rem;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: small;
  border-radius: 50%;
  -webkit-border-radius: 50%;
  -moz-border-radius: 50%;
  -ms-border-radius: 50%;
  -o-border-radius: 50%;
}
