.cart-wrapper {
  display: flex;
  justify-content: space-between;
}

.cart-wrapper .delete-all {
  background-color: red;
  color: white;
  padding: 0.25rem 0.5rem;
  border-radius: 0.25rem;
  -webkit-border-radius: 0.25rem;
  -moz-border-radius: 0.25rem;
  -ms-border-radius: 0.25rem;
  -o-border-radius: 0.25rem;
}

.cart-wrapper .sum {
  display: flex;
  flex-direction: column;
  gap: 1rem;
}

@media screen and (max-width: 425px) {
  .cart-wrapper {
    flex-direction: column;
  }
}
