.collapsible-wrapper {
  width: 100%;
  background-color: var(--white);
  padding: 1rem 1.5rem;
  display: flex;
  align-items: center;
  gap: 1rem;
  margin-bottom: 2rem;
}

.collapsible-img-wrapper {
  width: 4rem;
  height: 4rem;
  flex: none;
}

.collapsible-img-wrapper img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  border-radius: 50%;
  -webkit-border-radius: 50%;
  -moz-border-radius: 50%;
  -ms-border-radius: 50%;
  -o-border-radius: 50%;
}

.collapsible-wrapper .collapsible-header {
  flex: auto;
}

.collapsible-wrapper .collapsible-header .title {
  color: var(--secondary);
}

.collapsible-wrapper button {
  width: 100%;
  font-family: Inter;
  background-color: var(--white);
  display: flex;
  justify-content: space-between;
}

.collapsible-wrapper .collapsible-description {
  margin-top: 1rem;
  font-size: small;
  line-height: 1.5;
  max-height: 0;
  visibility: hidden;
  color: var(--secondary-500);
  transition: max-height 0.5s ease-in-out, visibility 0.5s ease-in-out;
  -webkit-transition: max-height 0.5s ease-in-out, visibility 0.5s ease-in-out;
  -moz-transition: max-height 0.5s ease-in-out, visibility 0.5s ease-in-out;
  -ms-transition: max-height 0.5s ease-in-out, visibility 0.5s ease-in-out;
  -o-transition: max-height 0.5s ease-in-out, visibility 0.5s ease-in-out;
}
