body #root {
  min-height: 100dvh;
}

.app-container {
  display: grid;
  grid-template-columns: 1fr;
  gap: 1rem
}

@media screen and (min-width: 425px) {
  .app-container {
    grid-template-columns: repeat(2, 1fr);
  }
}

@media screen and (min-width: 768px) {
  .app-container {
    grid-template-columns: repeat(3, 1fr);
  }
}

@media screen and (min-width: 1024px) {
  .app-container {
    grid-template-columns: repeat(4, 1fr);
  }
}
