:root {
  --primary: #00008b; /* Dark Blue*/
  --primary-100: #f4f8fb;
  --red-400: #dc143c;
}

*,
*::before,
*::after {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

.container {
  padding: 1rem;
}

input[type="submit"] {
  cursor: pointer;
  border: none;
  outline: none;
}

a {
  text-decoration: none;
}

@media screen and (min-width: 425px) {
  .container {
    padding: 1.5rem;
  }
}

@media screen and (min-width: 768px) {
  .container {
    padding: 2rem;
  }
}
