body {
  min-height: 100dvh;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
}

main {
  background: #bf40bf linear-gradient(to left, white, #bf40bf);
  display: flex;
  align-items: center;
  justify-content: center;
}

#playground {
  padding: 1rem;
}

#playground #playground-title {
  margin-bottom: 1rem;
}

#playground h4 {
  margin-bottom: 1rem;
}

#warning {
  visibility: hidden;
  color: red;
  font-size: small;
  font-weight: bold;
  margin-bottom: 0.5rem;
}

input#new-todo {
  margin-top: 0.5rem;
  width: 60%;
  padding: 0.5rem;
}

#todos {
  margin-top: 1rem;
  min-width: 8rem;
  max-width: 12rem;
  border-radius: 0.25rem;
  padding: 0.25rem;
}

.bordered {
  border: 1px solid silver;
}

.todo {
  display: flex;
  justify-content: space-between;
  font-weight: bold;
  font-size: small;
  border-radius: 0.25rem;
  padding: 0.25rem 0.5rem;
  transition: background-color 1s;
  margin-bottom: 0.5rem;
}

.todo:hover {
  background-color: silver;
}

.todo:last-child {
  margin-bottom: 0;
}
