body {
  grid-template-columns: 1fr;
  grid-template-rows: repeat(3, 1fr);
}

main {
  grid-row: 1 / span 1;
}

section#playground {
  grid-row: 2 / span 2;
}

input#new-todo {
  width: 40%;
}
