@font-face {
  font-family: "IranYekan";
  src: local("IranYekan"), url("/fonts/IranYekan.woff2");
  font-weight: normal;
  font-style: normal;
}

:root {
  --primary: #d90007;
}

*,
*::before,
*::after {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: IranYekan;
}

.container {
  padding: 1rem 2rem;
}

@media screen and (max-width: 425px) {
  .container {
    padding: 0.5rem 1rem;
  }
}
